@font-face {
    font-family: GT Alpina Typewriter Italics;
    src: url(Fonts/GT-Alpina-Typewriter-Light-Italic-Trial.otf) format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: GT Alpina Typewriter Medium Italics;
    src: url(Fonts/GT-Alpina-Typewriter-Medium-Italic-Trial.otf);
    font-weight: 500;
    font-style: bold;
}

@font-face {
    font-family: Mabry Pro;
    src: url(Fonts/Mabry\ Pro.ttf), format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff7e1;
}

.siteWrapper {
    max-width: 1920px;
    margin: 0 auto;
}

/* --- Menu Bar Styling --- */
#Menu {
    display: flex;
    height: 75px;
    align-items: center;

    padding-left: 95px;
    padding-right: 95px;

    margin-top: 15px;
    margin-bottom: 20px;
}

#menuLogo {
    width: 66%; 
    height: auto;   
}

#buttonMenu {
    flex-grow: 1; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}

/* --- Navigation Buttons --- */
#buttonHome, #buttonBlogs {
    width: auto; 
    padding-right: 30px;
}

#homeButton:visited, #homeButton:link, #blogsButton:visited, #blogsButton:link, #reachButton:visited, #reachButton:link {
    color: black;
    text-decoration: none;
}

#homeButton, #blogsButton {
    display: inline-block;
    padding: 10px 50px;
    border: 2px solid #000000;
    border-radius: 90%;

    background-color: #ffc9c9;

    color: black;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 16px;
    text-align: center;

    transition: transform .2s;
}

#homeButton:hover, #blogsButton:hover {
    box-shadow: 
    0 0 10px rgba(255, 105, 180, 0.8), 
    0 0 20px rgba(255, 105, 180, 0.6),
    0 0 30px rgba(255, 105, 180, 0.4);
    
    cursor: pointer;
    background-color: rgba(255, 105, 180, 0.8);
    text-decoration: underline;
}

#reachButton {
    display: inline-block;
    padding: 5px 20px;
    border: 2px solid #000000;
    border-radius: 50px;

    background-color: #e0e782;

    color: black;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

#reachButton:hover {
    box-shadow: 
    0 0 10px rgba(160, 180, 80, 0.9),
    0 0 20px rgba(160, 180, 80, 0.6),
    0 0 30px rgba(160, 180, 80, 0.3);
    
    background-color: rgba(160, 180, 80, 0.9);
    cursor: pointer;
    text-decoration: underline;
}

#homeButton:active, #blogsButton:active, #reachButton:active {
    cursor: grabbing; 
    transform: translateY(1px); 
}

/* --- Home Banner --- */
#homeBanner {
    display: block;
    
    padding-left: 95.5px;
    padding-right: 95.5px;

    margin-top: 30px;
    margin-bottom: 63px;
}

#homeImage {
    width: 100%;

    border-radius: 39px;
    background-clip: padding-box;
    border: 3px solid #000000;
}

#homeTagline {
    font-family: "GT Alpina Typewriter Italics", monospace;
    font-weight: 300;

    font-size: 98px;
    white-space: nowrap;
    color: #fff7e1;

    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -175%);

    transition: text-shadow 0.3s ease-in-out;
}

#homeTagline:hover {
    text-shadow: 
    /* First layer: intense, tight glow (lightest shade) */
    0 0 5px #e0e782,
    /* Second layer: medium, slightly wider glow */
    0 0 10px #e0e782,
    /* Third layer: widest, softest glow for the 'aura' */
    0 0 20px #e0e782;
}

/* --- Blog Space --- */
#homeBlog{
    border-top: 3px solid #000000;

    width: 100%;

    position: relative;
    overflow: hidden;
    white-space: nowrap;


    background-image: url(Images/HomeBlogBackgroundPattern.svg);
    background-size: 118px auto;
}

#blogTags {
    background-color: #e0e782;
    padding-bottom: 5px;
    border-bottom: 3px solid #000000;
}

#homeBlogTag1, #homeBlogTag2, #homeBlogTag3, #homeBlogTag4{
    font-family: "Roboto Mono", monospace;
    color: #2b4c33;
    font-size: 70px;
    font-optical-sizing: auto;
    letter-spacing: -1px;
    font-weight: 700;
    font-style: normal;

    line-height: 60px;

    left: -4;
    width: auto;
}

/* --- Blog Space --- */
#centralBlogs{
    margin-top: 100px;
    padding-top: 50px;

    background-color: #e0e782;

    padding-bottom: 70px;
    margin-bottom: 100px;
}

#centralTitle{
    margin-left: 200px;
    margin-right: 200px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #fff7e1;
    padding: 30px 50px;

    border: 3px solid #000000;
    border-radius: 55%;
}

#computerIconsvg, #flowerIconsvg{
    height: 45px;
    width: auto;
}

#centralTitle1, #centralTitle2{
    font-size: 80px;
    text-align: center;
    gap: 10px;
}

#centralTitle1{
    font-family: "GT Alpina Typewriter Italics";
    font-weight: 300;
    padding-left: 14px;
    padding-right: 10px;
}

#centralTitle2{
    font-family: "GT Alpina Typewriter Medium Italics";
}

/* --- Blog Preview Space ---*/ 

#blogpreviewCore{
    padding-top: 30px;
}

#blogpreviewCore1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#blogpreviewCore2{
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#blog1picture, #blog2picture, #blog3picture, #blog4picture, #blog5picture, #blog6picture{
    height: 250px;
    width: 350px;
    object-fit: cover;
    border-radius: 39px;

    border: 3px solid #000000;
}

#previewBlog1, #previewBlog2, #previewBlog4, #previewBlog5{
    margin-right: 40px;
}

#previewBlog1, #previewBlog2, #previewBlog3, #previewBlog4, #previewBlog5, #previewBlog6{
    background-color: #fff7e1;
    width: 400px;
    height: 500px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 27px;

    border-radius: 35px;
    border: 3px solid #000000;

    transition: transform .2s;
}

#previewBlog1:hover, #previewBlog2:hover, #previewBlog3:hover, #previewBlog4:hover, #previewBlog5:hover, #previewBlog6:hover{
    transform: scale(1.025);
}

#previewBlog1:has(#blog1button:hover), #previewBlog2:has(#blog2button:hover), #previewBlog3:has(#blog3button:hover), #previewBlog4:has(#blog4button:hover), #previewBlog5:has(#blog5button:hover), #previewBlog6:has(#blog6button:hover) {
    box-shadow: 
    0 0 10px rgba(150, 168, 214, 0.8), 
    0 0 20px rgba(150, 168, 214, 0.6), 
    0 0 30px rgba(150, 168, 214, 0.4); 
}

#blog1container, #blog2container, #blog3container, #blog4container, #blog5container, #blog6container{
    padding-top: 20px;
    width: 350px;
    margin: auto;
}

#blog4title, #blog2title {
    padding-top: 3.5px;
    font-family: "Mabry Pro";
    font-weight: normal;
    font-size: 27.5px;
    text-align: center;
}

#blog1title, #blog3title, #blog5title, #blog6title {
    font-family: "Mabry Pro";
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

#blog4para, #blog2para{
    padding-top: 8px;
    padding-bottom: 20px;

    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 13px;
    text-align: center;

    align-items: center;
    white-space: break-spaces;
    overflow: hidden;
    text-align: center;
    text-indent: 0;
}


#blog1para, #blog3para, #blog5para, #blog6para{
    padding-top: 5px;
    padding-bottom: 20px;

    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 13px;
    text-align: center;

    align-items: center;
    white-space: break-spaces;
    overflow: hidden;
    text-align: center;
    text-indent: 0;
}


#blog1button:visited, #blog1button:link, #blog2button:visited, #blog2button:link, #blog3button:visited, #blog3button:link, #blog4button:visited, #blog4button:link, #blog5button:visited, #blog5button:link, #blog6button:visited, #blog6button:link {
    color: black;
    text-decoration: none;
}

#blog1button, #blog2button, #blog3button, #blog4button, #blog5button, #blog6button {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #000000;
    border-radius: 90%;

    background-color: #96a8d6;

    color: black;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

#blog1button:hover, #blog2button:hover, #blog3button:hover, #blog4button:hover, #blog5button:hover, #blog6button:hover {
    box-shadow: 
    0 0 10px rgba(150, 168, 214, 0.8), 
    0 0 20px rgba(150, 168, 214, 0.6), 
    0 0 30px rgba(150, 168, 214, 0.4); 
    
    text-decoration: underline;
    cursor: pointer;
    background-color: #798ebc; 

}

#blog1button:active, #blog2button:active, #blog3button:active, #blog4button:active, #blog5button:active, #blog6button:active {
    cursor: grabbing; 
    transform: translateY(1px); 
    box-shadow: none;
}

/* About Me */

#aboutMecore {
    border-top: 3px solid black;
    display: flex;
    
    background-color: #798ebc
}

#aboutMeabout {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    padding-left: 50px;
    padding-right: 130px;

    display: flex;
    border-radius: 39px;
    border: 3px solid black;
    background-color: #fff7e1;
}

#aboutMecontain {

    margin-top: 35px;
    width: 660px;
    margin-bottom: 35px;

    padding-top: 25px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 25px;

    align-items: center;
    justify-content: center;

    text-align: left;
}

#aboutmeTitle {
    font-family: "Mabry Pro";
    font-weight: normal;
    font-size: 20px;
    background-color: #ffc9c9;

    display: inline-block;
    padding: 8px 30px;

    border: 3px solid black;
    border-radius: 50px;
    box-shadow: 4px 4px 0px 0px #000000;

    margin-bottom: 40px;
}

#aboutmeTextitle {
    text-align: left;
    font-family: "GT Alpina Typewriter Italics", monospace;
    font-weight: normal;
    font-size: 35px;
}

#aboutmeTextabout, #aboutmeTextquestion, #aboutmeTextanswer {
    text-align: left;
    font-family: "Roboto Mono", monospace;
}

#aboutmeTextquestion{
    padding-top: 20px;
}

#aboutmeTextanswer, #aboutmeTextabout {
    padding-top: 10px;
}

#aboutmeTextanswer {
    margin-bottom: 20px;
}

#githubButtonc {
    text-align: right;
}

#githubButton:visited, #githubButton:link {
    color: black;
    text-decoration: none;
}

#githubButton {

    display: inline-block;
    padding: 10px 40px;
    border: 2px solid #000000;
    border-radius: 90%;

    background-color: #e0e782;

    color: black;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 13px;
    transition: transform .2s;
}

#githubButton:hover {
    box-shadow: 
    0 0 10px rgba(160, 180, 80, 0.9),
    0 0 20px rgba(160, 180, 80, 0.6),
    0 0 30px rgba(160, 180, 80, 0.3);
    
    background-color: rgba(160, 180, 80, 0.9);
    cursor: pointer;
    text-decoration: underline;
}

#githubButton:active {
    cursor: grabbing; 
    transform: translateY(1px); 
}

#aboutMepicture {
    display: flex;
    align-items: center;
    justify-content: center;
}

#aboutmepic1img {
    width: 350px;
    height: auto;

    display: block;
    margin-bottom: 30px;
    margin: auto;
}

/* Website Footer */

#footer{
    border-top: 3px solid #000000;
    padding-top: 30px;
    padding-left: 152px;
    padding-right: 150px;
}

#footerBye{
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    color: #96a8d6;
}

#footerInfo {
    padding-top: 10px;
    display: flex;
    padding-bottom: 30px;
    align-items: center;
}

#footerLogoimg {
    width: 200px;
    height: auto;
}

#footerAbout {
    padding-left: 20px;
    width: 400px;
}

#footerContact{
    width: 300px;
}

#aboutTitle, #contactOwnership, #contactEmail{
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 15px;
    text-decoration: underline;
    color: #96a8d6;
}

#aboutPara, #ownershipPara, #emailPara {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 13px;
    color: #96a8d6;

    align-items: center;
    white-space: break-spaces;
    overflow: hidden;
    text-indent: 0;
}

#ownershipPara {
    padding-bottom: 15px;
}

#footerDoodle{
    padding-left: 160px;
}

#footerDoodleimg {
    width: 150px;
    height: auto;
}




